<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.secom.member.model.mapper.MemberMapper">

	<select id="findByUserId" parameterType="string" resultType="com.kh.secom.member.model.vo.Member">
		SELECT
			   USER_NO userNo,
		 	   USER_ID userId,
		 	   USER_PWD userPwd,
		 	   ROLE
		  FROM
		  	   TB_MEMBER
		 WHERE
		 	   USER_ID = #{userId}
	</select>



</mapper>