<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.busan.api.model.mapper.CommentMapper">

	<select id="getComment" parameterType="long" resultType="CommentDTO">
		SELECT
		 	   UC_SEQ foodNo,
		 	   writer,
		 	   content
		  FROM
		 	   TB_FOOD_REPLY
		 WHERE
			   UC_SEQ = #{foodNo}
	 	 ORDER
	 	    BY
	 	   	  CONTENT DESC
	</select>




</mapper>